{% extends '::Layout/base.html.twig' %}

{% block body %}
<div class="features_items"><!--features_items-->
    <h2 class="title text-center">Liste des annonces</h2>
    {% for detailAnnonce in detailAnnonces %}
    <div class="col-sm-4">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <img src="{{ asset('images/shop/product12.jpg') }}" alt=""/>
                        <h2>{{ detailAnnonce.entreprise }}</h2>
                        <p>
                        <td>{{ detailAnnonce.titre }}</td>
                        </p>
                        <a href="{{ path('detailannonce_show', { 'id': detailAnnonce.id }) }}"
                           class="btn btn-default add-to-cart"><i class="fa fa-eye"></i>View</a>
                    </div>
                </div>
                <div class="choose">
                    <ul class="nav nav-pills nav-justified">
                        <li><a href=""><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                        <li><a href=""><i class="fa fa-plus-square"></i>Add to compare</a></li>
                    </ul>
                </div>
            </div>
    </div>
    {% endfor %}
    </div>

    <ul>
        <li>
            <a href="{{ path('detailannonce_new') }}">Create a new entry</a>
        </li>
    </ul>
    {% endblock %}
