{% if is_granted('ROLE_ADMIN')  %}
    <li><a href="{{ path('fos_user_profile_show') }}"><i class="fa fa-user"></i>{{ app.user.username }}</a></li>
    <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-lock"></i>deconnecter</a></li>
{% else %}
    <li><a href="{{ path('fos_user_profile_show') }}"><i class="fa fa-user"></i>{{ app.user.username }}</a></li>
    <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-lock"></i>deconnecter</a></li>
  {% endif %}
