{% extends '::Layout/base.html.twig' %}

{% block leftbar %}
{% endblock %}

{% block body %}
    <div class="review-payment">
        <h2>Listes des categories</h2>
    </div>
    <div class="table-responsive cart_info">
        <table class="table table-condensed">
            <thead>
            <tr class="cart_menu">
                <td class="description">Nom</td>
                <td class="description">Description</td>
                <td class="description">Actions</td>
            </tr>
            </thead>
            <tbody>
            {% for categorie in categories %}
                <tr>
                    <td class="cart_description">
                        <h4><a href=""></a>{{ categorie.nom }}</h4>
                        <p>Web ID: {{ categorie.id }}</p>
                    </td>
                    <td class="cart_price">
                        <p>{{ categorie.description }}</p>
                    </td>

                    <td class="cart_delete">
                        <a class="cart_quantity_delete" href="{{ path('categorie_show', { 'id': categorie.id }) }}"><i
                                    class="fa fa-eye"></i></a>
                        <a class="cart_quantity_delete" href="{{ path('categorie_edit', { 'id': categorie.id }) }}"><i
                                    class="fa fa-edit"></i></a>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="2">
                    <ul>
                        <li>
                            <a href="{{ path('categorie_new') }}"><button class="btn btn-primary">Create a new entry</button></a>
                        </li>
                    </ul>

                </td>

            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}


